<div class="p-4 pt-20 md:pt-4 sm:pl-68 sm:mt-16 w-full overflow-x-hidden">
  <button class="bg-emerald-500 px-4 py-2 rounded-full mb-4 cursor-pointer hover:bg-emerald-600" (click)="volverAMascotas()">
    <h2 class="text-md text-white font-semibold">&larr; Volver a mascotas</h2>
  </button>
  <h2 class="text-2xl font-semibold text-gray-800 mb-6">
    Ficha médica de
    <span class="text-emerald-500">{{ mascota.nombre }}</span> (#{{
      idMascota
    }})
  </h2>

  <div class="flex flex-col md:flex-row items-center justify-start gap-3 md:gap-4">
    <div
      class="flex relative gap-4 bg-white rounded-2xl shadow p-4 dark:bg-neutral-700 max-w-[500px]"
    >
      <div class="bg-neutral-50 max-w-1/3 h-full rounded-2xl">
        <img
          src="/assets/{{ mascota.especie }}.jpg"
          alt="{{ mascota.especie }}"
          class="aspect-square rounded-xl w-full h-full"
        />
      </div>
      <div class="flex flex-col">
        <h3 class="text-xl font-bold text-emerald-700 dark:text-emerald-400">
          {{ mascota.nombre }}
        </h3>
        <p class="text-gray-700 dark:text-gray-300">
          Especie: {{ mascota.especie }}
        </p>
        <p class="text-gray-700 dark:text-gray-300">Raza: {{ mascota.raza }}</p>
        <p class="text-gray-700 dark:text-gray-300">Sexo: {{ mascota.sexo }}</p>
        <p class="text-gray-700 dark:text-gray-300">
          Fecha nacimiento: {{ mascota.fechaNacimiento | date : "dd/MM/yyyy" }}
        </p>
        <p class="text-gray-700 dark:text-gray-300">
          Dueño: {{ nombreTutor() }}
        </p>
      </div>
      <div *ngIf="isVeterinario()" class="absolute top-2 right-2">
        <button
          (click)="mostrarFormularioEdicion = !mostrarFormularioEdicion"
          class="bg-emerald-500 rounded-full p-1.5 cursor-pointer hover:bg-white text-white hover:text-emerald-500 transition-colors duration-150"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            width="15"
            height="15"
            fill="currentColor"
          >
            <path
              d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="flex flex-col xl:flex-row items-center gap-3">
      <div class="flex flex-row xl:flex-col gap-3">
        <button (click)="generarCarnet()" class="bg-neutral-700 h-fit px-4 py-3 rounded-md text-white hover:bg-neutral-800 cursor-pointer active:bg-neutral-950">Generar Carnet</button>
        <button
          *ngIf="carnetGenerado"
          (click)="generarPDF()"
          class="bg-neutral-700 h-fit px-4 py-3 rounded-md text-white hover:bg-neutral-800 cursor-pointer active:bg-neutral-950"
        >
          Descargar como PDF
        </button>
      </div>
      <div
        *ngIf="carnetGenerado"
        #carnetRef
        class="flex flex-col relative gap-4 text-white rounded-2xl shadow p-4 bg-[#404040] max-w-[500px]"
      >
        <div class="flex justify-between">
          <div class="flex flex-col">
            <p class="text-xs text-justify">CÉDULA DE</p>
            <p class="text-xs text-justify tracking-wide">IDENTIDAD</p>
          </div>
          <div class="flex flex-col">
            <p class="text-sm font-semibold tracking-wider">REPÚBLICA DE CHILE</p>
            <p class="text-[8px] tracking-wide">SERVICIO DE REGISTRO DE MASCOTAS</p>
          </div>
        </div>
        <div class="flex justify-between">
          <div class="flex flex-col justify-center items-center gap-3">
            <div class="border-2 rounded-lg border-white p-0.5">
              <qrcode colorDark="#ffffff" colorLight="#404040" [elementType]="'svg'" [scale]="5" [width]="110" qrdata="{{qrText}}" [errorCorrectionLevel]="'L'"></qrcode>
            </div>
            <div class="flex flex-col items-start justify-start w-full">
              <p class="text-[8px] uppercase font-semibold tracking-[0.5px] text-[#d4d4d4] leading-2">fecha vencimiento</p>
              <p class="text-sm uppercase">10-04-2023</p>
            </div>
          </div>
          <div class="grid grid-cols-2 gap-x-10 gap-y-0 px-4 pb-4">
            <div class="flex flex-col">
              <p class="text-[8px] leading-1 uppercase font-semibold tracking-[0.5px] text-[#d1d5dc]">nombre</p>
              <p class="text-sm uppercase leading-5">{{ mascota.nombre }}</p>
            </div>
            <div class="flex flex-col">
              <p class="text-[8px] leading-1 uppercase font-semibold tracking-[0.5px] text-[#d1d5dc]">especie</p>
              <p class="text-sm uppercase leading-5">{{ mascota.especie }}</p>
            </div>
            <div class="flex flex-col">
              <p class="text-[8px] leading-1 uppercase font-semibold tracking-[0.5px] text-[#d1d5dc]">raza</p>
              <p class="text-sm uppercase leading-5">{{ mascota.raza }}</p>
            </div>
            <div class="flex flex-col">
              <p class="text-[8px] leading-1 uppercase font-semibold tracking-[0.5px] text-[#d1d5dc]">sexo</p>
              <p class="text-sm uppercase leading-5">{{ mascota.sexo }}</p>
            </div>
            <div class="flex flex-col">
              <p class="text-[8px] leading-2 uppercase font-semibold tracking-[0.5px] text-[#d1d5dc]">fecha nacimiento</p>
              <p class="text-sm uppercase leading-5">{{ mascota.fechaNacimiento }}</p>
            </div>
            <div class="flex flex-col">
              <p class="text-[8px] leading-1 uppercase font-semibold tracking-[0.5px] text-[#d1d5dc]">rut tutor</p>
              <p class="text-sm uppercase leading-5">{{ tutor.rut }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="isVeterinario() && mostrarFormularioEdicion"
    class="bg-white dark:bg-neutral-800 p-4 rounded-2xl shadow my-6 max-w-[430px]"
  >
    <h2 class="text-xl font-semibold text-emerald-600 mb-4">Editar Mascota</h2>
    <form (ngSubmit)="editarMascota()">
      <label class="block mb-2 text-gray-700 dark:text-white">Nombre</label>
      <input
        [(ngModel)]="mascota.nombre"
        name="nombre"
        class="w-full mb-2 p-2 rounded bg-white"
        required
      />

      <label class="block mb-2 text-gray-700 dark:text-white">Especie</label>
      <input
        [(ngModel)]="mascota.especie"
        name="especie"
        class="w-full mb-2 p-2 rounded bg-white"
        required
      />

      <label class="block mb-2 text-gray-700 dark:text-white">Raza</label>
      <input
        [(ngModel)]="mascota.raza"
        name="raza"
        class="w-full mb-2 p-2 rounded bg-white"
      />

      <label class="block mb-2 text-gray-700 dark:text-white">Sexo</label>
      <select
        [(ngModel)]="mascota.sexo"
        name="sexo"
        class="w-full mb-2 p-2 rounded bg-white"
      >
        <option value="Macho">Macho</option>
        <option value="Hembra">Hembra</option>
      </select>

      <label class="block mb-2 text-gray-700 dark:text-white"
        >Fecha de Nacimiento</label
      >
      <input
        type="date"
        [(ngModel)]="mascota.fechaNacimiento"
        name="fechaNacimiento"
        class="w-full mb-2 p-2 rounded bg-white"
        required
      />

      <div class="flex gap-2 my-1.5">
        <button
          type="submit"
          class="bg-emerald-600 text-white px-4 py-2 rounded hover:bg-emerald-700 cursor-pointer w-full"
        >
          Guardar Cambios
        </button>
        <button
          type="button"
          (click)="mostrarFormularioEdicion = false"
          class="ml-2 text-gray-500 hover:cursor-pointer hover:underline w-full"
        >
          Cancelar
        </button>
      </div>
      <button
        type="button"
        (click)="eliminarMascota()"
        class="px-4 py-2 mt-2 bg-red-500 w-full rounded-lg text-white cursor-pointer hover:bg-red-600"
      >
        Eliminar
      </button>
    </form>
  </div>

  <ul
    class="flex flex-wrap text-sm font-medium text-center border-b border-gray-200"
  >
    <li class="me-2">
      <button
        class="cursor-pointer"
        (click)="tab = 'historial'"
        [class]="tab === 'historial' ? activeTabClasses : inactiveTabClasses"
      >
        Historial Médico
      </button>
    </li>
    <li class="me-2">
      <button
        class="cursor-pointer"
        (click)="tab = 'vacunas'"
        [class]="tab === 'vacunas' ? activeTabClasses : inactiveTabClasses"
      >
        Vacunas
      </button>
    </li>
    <li class="me-2">
      <button
        class="cursor-pointer"
        (click)="tab = 'citas'"
        [class]="tab === 'citas' ? activeTabClasses : inactiveTabClasses"
      >
        Citas
      </button>
    </li>
  </ul>

  <div *ngIf="tab === 'historial'" class="mt-6">
    <button
      *ngIf="isVeterinario()"
      class="bg-emerald-500 text-white px-4 py-2 rounded mb-4 cursor-pointer hover:bg-emerald-600"
      (click)="mostrarFormularioAtencion = !mostrarFormularioAtencion"
    >
      {{ mostrarFormularioAtencion ? "Cancelar" : "Agregar atención médica" }}
    </button>

    <!-- Formulario -->
    <div
      *ngIf="mostrarFormularioAtencion"
      class="bg-white dark:bg-neutral-800 p-4 rounded-2xl shadow mb-6"
    >
      <h2 class="text-2xl text-white font-semibold">Nueva atención médica</h2>
      <hr class="text-white mb-4" />
      <form (ngSubmit)="agregarAtencion()">
        <label class="block mb-2 text-gray-700 dark:text-white"
          >Diagnóstico</label
        >
        <input
          class="w-full mb-2 p-2 rounded bg-white"
          [(ngModel)]="nuevaAtencion.diagnostico"
          name="diagnostico"
          required
        />

        <label class="block mb-2 text-gray-700 dark:text-white"
          >Tratamiento</label
        >
        <input
          class="w-full mb-2 p-2 rounded bg-white"
          [(ngModel)]="nuevaAtencion.tratamiento"
          name="tratamiento"
          required
        />

        <label class="block mb-2 text-gray-700 dark:text-white"
          >Observaciones</label
        >
        <textarea
          class="w-full mb-2 p-2 rounded bg-white"
          [(ngModel)]="nuevaAtencion.observaciones"
          name="observaciones"
        ></textarea>

        <button
          type="submit"
          class="bg-emerald-600 text-white px-4 py-2 rounded cursor-pointer hover:bg-emerald-700"
        >
          Guardar
        </button>
      </form>
    </div>

    <div
      *ngIf="historial.length === 0"
      class="text-gray-500 dark:text-gray-300"
    >
      No hay registros de historial de atenciones médicas.
    </div>

    <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
      <div
        *ngFor="let registro of historial"
        class="bg-neutral-800 flex flex-col rounded-2xl shadow p-6 gap-2"
      >
        <div class="flex w-full justify-between">
          <div
            class="flex justify-center items-center bg-neutral-50 w-fit p-2 mb-2 rounded-full text-emerald-500"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              width="15"
              height="15"
            >
              <path
                fill="#262626"
                d="M96 352L96 96c0-35.3 28.7-64 64-64l256 0c35.3 0 64 28.7 64 64l0 197.5c0 17-6.7 33.3-18.7 45.3l-58.5 58.5c-12 12-28.3 18.7-45.3 18.7L160 416c-35.3 0-64-28.7-64-64zM272 128c-8.8 0-16 7.2-16 16l0 48-48 0c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l48 0 0 48c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-48 48 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-48 0 0-48c0-8.8-7.2-16-16-16l-32 0zm24 336c13.3 0 24 10.7 24 24s-10.7 24-24 24l-160 0C60.9 512 0 451.1 0 376L0 152c0-13.3 10.7-24 24-24s24 10.7 24 24l0 224c0 48.6 39.4 88 88 88l160 0z"
              />
            </svg>
          </div>
          <div class="bg-neutral-50 w-fit px-4 py-0.5 mb-2 rounded-full">
            <p class="text-md font-medium text-neutral-800">
              {{ registro.fecha | date : "dd / MM / yyyy" }}
            </p>
          </div>
        </div>
        <p class="text-white">
          <strong class="text-emerald-500">Diagnóstico:</strong>
          {{ registro.diagnostico }}
        </p>
        <p class="text-white">
          <strong class="text-emerald-500">Tratamiento:</strong>
          {{ registro.tratamiento }}
        </p>
        <p class="text-white">
          <strong class="text-emerald-500">Observaciones:</strong>
          {{ registro.observaciones }}
        </p>
        <p class="text-white">
          <strong class="text-emerald-500">Veterinario:</strong>
          {{ nombreVeterinario(registro.idUsuario) }}
        </p>
      </div>
    </div>
  </div>

  <div *ngIf="tab === 'vacunas'" class="mt-6">
    <button
      *ngIf="isVeterinario()"
      class="bg-emerald-500 text-white px-4 py-2 rounded mb-4 cursor-pointer hover:bg-emerald-600"
      (click)="mostrarFormularioVacuna = !mostrarFormularioVacuna"
    >
      {{ mostrarFormularioVacuna ? "Cancelar" : "Agregar nueva vacuna" }}
    </button>

    <div
      *ngIf="mostrarFormularioVacuna"
      class="bg-white dark:bg-neutral-800 p-4 rounded-2xl shadow mb-6"
    >
      <h2 class="text-2xl text-white font-semibold">Nueva Vacuna</h2>
      <hr class="text-white mb-4" />
      <form (ngSubmit)="agregarVacuna()">
        <label class="block mb-2 text-gray-700 dark:text-white"
          >Nombre vacuna</label
        >
        <input
          class="w-full mb-2 p-2 rounded bg-white"
          [(ngModel)]="nuevaVacuna.nombre"
          name="nombreVacuna"
          required
        />

        <label class="block mb-2 text-gray-700 dark:text-white">Dosis</label>
        <input
          class="w-full mb-2 p-2 rounded bg-white"
          [(ngModel)]="nuevaVacuna.dosis"
          name="dosis"
          required
        />

        <label class="block mb-2 text-gray-700 dark:text-white"
          >Observaciones</label
        >
        <textarea
          class="w-full mb-2 p-2 rounded bg-white"
          [(ngModel)]="nuevaVacuna.observaciones"
          name="observacionesVacuna"
        ></textarea>

        <button
          type="submit"
          class="bg-emerald-500 text-white px-4 py-2 rounded cursor-pointer hover:bg-emerald-600"
        >
          Guardar
        </button>
      </form>
    </div>

    <div *ngIf="vacunas.length === 0" class="text-gray-500 dark:text-gray-300">
      No hay registros de vacunas.
    </div>

    <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
      <div
        *ngFor="let vacuna of vacunas"
        class="bg-neutral-800 flex flex-col rounded-2xl shadow p-6 gap-2"
      >
        <div class="flex w-full justify-between">
          <div
            class="flex justify-center items-center bg-neutral-50 w-fit p-2 mb-2 rounded-full text-emerald-500"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              width="15"
              height="15"
            >
              <path
                fill="#262626"
                d="M441 7l32 32 32 32c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-15-15L417.9 128l55 55c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-72-72L295 73c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l55 55L422.1 56 407 41c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0zM210.3 155.7l61.1-61.1c.3 .3 .6 .7 1 1l16 16 56 56 56 56 16 16c.3 .3 .6 .6 1 1l-191 191c-10.5 10.5-24.7 16.4-39.6 16.4l-88.8 0L41 505c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l57-57 0-88.8c0-14.9 5.9-29.1 16.4-39.6l43.3-43.3 57 57c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6l-57-57 41.4-41.4 57 57c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6l-57-57z"
              />
            </svg>
          </div>
          <div class="bg-neutral-50 w-fit px-4 py-0.5 mb-2 rounded-full">
            <p class="text-md font-medium text-neutral-800">
              {{ vacuna.fechaAplicacion | date : "dd / MM / yyyy" }}
            </p>
          </div>
        </div>
        <p class="text-white">
          <strong class="text-emerald-500">Vacuna:</strong> {{ vacuna.nombre }}
        </p>
        <p class="text-white">
          <strong class="text-emerald-500">Dosis:</strong> {{ vacuna.dosis }}
        </p>
        <p class="text-white">
          <strong class="text-emerald-500">Observaciones:</strong>
          {{ vacuna.observaciones }}
        </p>
        <p class="text-white">
          <strong class="text-emerald-500">Veterinario:</strong>
          {{ nombreVeterinario(vacuna.idUsuario) }}
        </p>
      </div>
    </div>
  </div>

  <div *ngIf="tab === 'citas'" class="mt-6">
    <button
      class="bg-emerald-500 text-white px-4 py-2 rounded mb-4 cursor-pointer hover:bg-emerald-600"
      (click)="mostrarFormularioCita = !mostrarFormularioCita"
    >
      {{ mostrarFormularioCita ? "Cancelar" : "Agregar nueva cita" }}
    </button>
    <div *ngIf="mostrarFormularioCita">
      <app-crear-cita [idMascota]="idMascota"></app-crear-cita>
    </div>
    <div *ngIf="citas.length === 0" class="text-gray-500 dark:text-gray-300">
      No hay registros de citas.
    </div>

    <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
      <div
        *ngFor="let cita of citas"
        class="{{ cita.estado === 'Pendiente' ? 'bg-neutral-800' : cita.estado === 'Completada' ? 'bg-emerald-500' : 'bg-neutral-500' }} flex flex-col rounded-2xl shadow p-6 gap-2"
      >
        <div class="flex flex-col gap-2">
          <div class="flex w-full justify-between">
            <div
              class="flex justify-center items-center bg-neutral-50 w-fit p-2 mb-2 rounded-full text-emerald-500"
            >
              <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              width="15"
              height="15"
            >
              <path
                fill="#262626"
                d="M96 352L96 96c0-35.3 28.7-64 64-64l256 0c35.3 0 64 28.7 64 64l0 197.5c0 17-6.7 33.3-18.7 45.3l-58.5 58.5c-12 12-28.3 18.7-45.3 18.7L160 416c-35.3 0-64-28.7-64-64zM272 128c-8.8 0-16 7.2-16 16l0 48-48 0c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l48 0 0 48c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-48 48 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-48 0 0-48c0-8.8-7.2-16-16-16l-32 0zm24 336c13.3 0 24 10.7 24 24s-10.7 24-24 24l-160 0C60.9 512 0 451.1 0 376L0 152c0-13.3 10.7-24 24-24s24 10.7 24 24l0 224c0 48.6 39.4 88 88 88l160 0z"
              />
            </svg>
            </div>
            <div class="bg-neutral-50 w-fit px-4 py-0.5 mb-2 rounded-full">
              <p class="text-md font-medium text-neutral-800">
                {{ cita.fecha| date : "dd / MM / yyyy" }}
              </p>
            </div>
          </div>
          <p class="text-white">
            <strong class="{{ cita.estado === 'Pendiente' ? 'text-emerald-500' : 'text-neutral-800' }} ">Veterinario:</strong> {{ nombreVeterinario(cita.idUsuario) }}
          </p>
          <p class="text-white">
            <strong class="{{ cita.estado === 'Pendiente' ? 'text-emerald-500' : 'text-neutral-800' }} ">Motivo:</strong> {{ cita.motivo }}
          </p>
          <p class="text-white">
            <strong class="{{ cita.estado === 'Pendiente' ? 'text-emerald-500' : 'text-neutral-800' }} ">Estado:</strong>
            {{ cita.estado }}
          </p>
        </div>
        <div *ngIf="cita.estado === 'Pendiente' && isVeterinario()" class="flex gap-2 pt-4">
          <button (click)="modificarCita(cita, 'Completada')" class="rounded-lg flex-1 px-3 py-1.5 bg-emerald-500 cursor-pointer hover:bg-emerald-600 text-white font-medium">Completar</button>
          <button (click)="modificarCita(cita, 'Cancelada')" class="rounded-lg flex-1 px-3 py-1.5 bg-neutral-500 cursor-pointer hover:bg-neutral-600 text-white font-medium">Cancelar</button>
          <button (click)="modificarCita(cita, 'No asiste')" class="rounded-lg flex-1 px-3 py-1.5 border border-white cursor-pointer hover:bg-white text-white hover:text-neutral-800 font-medium">No asiste</button>
        </div>
        <div *ngIf="cita.estado === 'Pendiente' && !isVeterinario()" class="flex gap-2 pt-4">
          <button (click)="eliminarCita(cita)" class="rounded-lg flex-1 px-3 py-1.5 border border-white cursor-pointer hover:bg-white text-white hover:text-neutral-800 font-medium">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>
